body{
  padding: 0 10px;
  font-family: sans-serif;
}

h1 {
  font-family: courier;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.6em;
  margin: 0 0 12px;
  padding: 0;
}

.title {
  margin-right: 110px;
}

.disclaimer{
  font-size: 0.9em;
  line-height: 1.5em;
  font-style: italic;
}

.accordion-container{
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 20px auto;
}

.group {
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}

.groupName {
  padding: 15px 0 10px;
  margin: 0;
  position: sticky;
  top: 0;
  font-family: courier;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
  background-color: white;
  z-index: 999;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
}

.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}

.set > a i{
  float: right;
  margin-top: 2px;
}

.set > a.active{
  font-size: 1.7em;
}

.content{
  display:none;
  padding: 5px 15px 20px;
  margin: 0;
}

.content p{
  margin: 0;
  color: #333;
}

.content h5{
  font-weight: normal;
  margin: 0 0 10px;
}

.origin {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.07em;
  font-weight: 600;
  margin-right: 10px;
}

.species {
  text-transform: none;
  font-style: italic;
}

.content > a{
  display: block;
  padding: 10px 0 0;
  font-size: 0.7em;
  font-style: italic;
}




/*____________*/

.dropdownContainer{
  position: absolute;
  right:0;
  height: 100%;
}

.dropdown {
  position: sticky;
  top: 5px;
  z-index: 9999;
}

.dropbtn {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  padding: 8px 12px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: courier;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #FED500;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 4px;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  border: 1px solid black;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  border-bottom: 1px solid black;
  display: block;
  text-transform: uppercase;
  font-family: courier;
  font-size: 0.8em;
}

.dropdown-content:last-child {
  border-bottom: none;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
}
